@model VendorMis.Models.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Forgot your password?";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header bg-transparent"><h3 style=" color:#000000;" class="text-center font-weight-bold my-4">Forgot Password</h3></div>
                <div class="card-body">
                    <section id="loginForm">
                        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <h4>Enter your email.</h4>
                            <hr />
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" class="btn btn-primary" value="Email Link" />
                                </div>
                            </div>
                        }


                    </section>
                </div>
                
            </div>
        </div>
    </div>
</div>




@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
